/* .alert {
  color: #fff;
  padding: 20px;
  background: #d14539;
} */
.alert {
  color: #fff;
  padding: 20px;
  background: #d14539;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.alert_color {
  color: #d14539;
}
.alert_bg {
  background: rgba(230,169,171,.5);
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}
.drop_menu_btn {
  height: 60px;
}
.drop_menu {
  background: #42210b;
}
.drop_menu_item {
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
